jupyterlab==4.2.5
ipykernel==6.25.0
ipython==8.14.0
ipywidgets==8.1.5
jupyter-client==8.3.0
jupyter-console==6.6.3
jupyter-core==5.3.1
notebook==7.2.2
nbconvert==7.7.4
nbformat==5.9.2
widgetsnbextension==4.0.13

librosa==0.10.1
numpy==1.25.2
scikit-image==0.22.0
scikit-learn==1.4.0
matplotlib==3.8.2
scipy==1.12.0
tqdm==4.66.1

pathos==0.3.2
tensorflow==2.17.0
keras==3.5.0
